<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=0">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="format-detection" content="telephone=no">
		<!--iPhone/iPod Touch上将网页"添加至主屏幕"时，去掉icon上的透明层-->
		<link rel="apple-touch-icon-precomposed" href="images/apple-touch-icon.png">
		<link rel="stylesheet" type="text/css" href="../css/common.css"/>
		<script type="text/javascript" src="../js/jquery.min.js"></script>
		<title>标题、文字、链接</title>
		<style type="text/css">
			hr{margin: 1rem 0 0.5rem;}
		</style>
	</head>
	<body>
		<a href="index.html" class="square_btn fixed_top" style="font-size: 1.2rem;">首页</a>
		<p class="tit_normalleft">普通字体靠左标题</p>
		<hr />
		<p class="tit_smallleft">小号字体靠左标题</p>
		<hr />
		<p class="tit_bigleft">大号字体靠左标题</p>
		<hr />
		<p class="tit_bigcenter">大号字体居中标题</p>
		<hr />
		<p class="content_center">居中的正文内容  居中的正文内容 居中的正文内容 居中的正文内容 居中的正文内容居中的正文内容居中的正文内容居中的正文内容居中的正文内容</p>
		<hr />
		<p class="content_left">靠左对其的内容文 字 靠左对其的内容文字靠左对其的内容文字靠左对其的内容文字靠左对其的内容文字</p>
		<hr />
		<a class="blue_href">蓝色链接blue_href</a>
		<hr />
		<a class="normal_href">继承字体颜色的链接normal_href</a>
		<hr />
		<p class="validate_text">*验证文字提示*</p>

	</body>
</html>
